version: '3.5'


# The services are listed in this order
# DataBases
# Kafka
# Spark
# Python

services:

  # DATABASES

  stock-input-mongo:
    image: mongo
    container_name: stock-input-mongo
    expose:
      - 27017
    ports:
      - "127.0.0.1:27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=twitter_sources
    env_file:
      - ./env_files/.env-mongo-input
    volumes:
      - mongo_input_volume:/data/db
    networks:
      - input_network
    restart: unless-stopped

  stock-output-mongo:
    image: mongo
    container_name: stock-output-mongo
    expose:
      - 27017
    ports:
      - "127.0.0.1:27018:27017"
    environment:
      - MONGO_INITDB_DATABASE=text_databases
    env_file:
      - ./env_files/.env-mongo-output
    volumes:
      - mongo_output_volume:/data/db
    networks:
      - input_network
      - output_network
    restart: unless-stopped

  stock-input-postgres:
    image: postgres
    container_name: stock-input-postgres
    expose:
      - 5432
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - PGDATA=/data/postgres
      - POSTGRES_DB=stocks
    env_file:
      - ./env_files/.env-postgres-input
    volumes:
      - postgres_stock_input:/data/postgres
      - ./misc/create_schema_postgres_input.sql:/docker-entrypoint-initdb.d/create_schema_postgres_input.sql
    networks:
      - input_network
    restart: unless-stopped

  stock-output-postgres:
    image: postgres
    container_name: stock-output-postgres
    expose:
      - 5432
    ports:
      - "127.0.0.1:5433:5432"
    environment:
      - POSTGRES_DB=stocks
      - PGDATA=/data/postgres
    env_file:
      - ./env_files/.env-postgres-output
    volumes:
      - postgres_stock_output:/data/postgres
      - ./misc/create_schema_postgres_output.sql:/docker-entrypoint-initdb.d/create_schema_postgres_output.sql
    networks:
      - input_network
      - output_network
    restart: unless-stopped

  # KAFKA SERVICES

  stock-zookeeper:
    image: bitnami/zookeeper:latest
    user: root
    container_name: stock-zookeeper
    expose:
      - 2181
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - input_network
      - output_network

  stock-kafka:
    image: bitnami/kafka:latest
    user: root
    container_name: stock-kafka
    expose:
      - 9092
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
      - KAFKA_ZOOKEEPER_CONNECT=stock-zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - stock-input-mongo
      - stock-input-postgres
      - stock-output-mongo
      - stock-output-postgres
      - stock-zookeeper
    networks:
      - input_network
      - output_network

  # SPARK SERVICES

  stock-spark-master:
    image: docker.io/bitnami/spark:3-debian-10
    container_name: stock-spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    networks:
      - output_network
    expose:
      - 8080
      - 7077

  stock-spark-worker:
    image: docker.io/bitnami/spark:3-debian-10
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://stock-spark-master:7077
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    depends_on:
      - stock-spark-master
    networks:
      - output_network

  spark-client:
    image: docker.io/bitnami/spark:3-debian-10
    entrypoint:
      - sleep
      - infinity
    depends_on:
      - stock-spark-master
      - stock-spark-worker
    networks:
      - output_network

  # PYTHON SERVICES

  stock-python-analysis:
    image: stock-python-analysis
    build:
      context: ./python
      dockerfile: ./dockerfiles/analyzer.Dockerfile
    container_name: stock-python-analysis
    networks:
      - output_network

  stock-input-generator:
    image: stock-input-generator
    build:
      context: ./python
      dockerfile: ./dockerfiles/generator.Dockerfile
    container_name: stock-input-generator
    environment:
      - POSTGRES_INPUT_DB=stocks
      - POSTGRES_INPUT_PORT=5432
      - POSTGRES_INPUT_HOST=stock-input-postgres
    networks:
      - input_network
    command:
      - python -m ./src/generator/__main__.py 


networks:
  input_network:
    name: "Input Network"
  output_network:
    name: "Output Network"

volumes:
  mongo_input_volume:
  mongo_output_volume:
  postgres_stock_input:
  postgres_stock_output:
